<div id="accordion" class="accordion mb-20" data-allow-multiple>
    <h3 class="border-t border-silver text-xs md:text-sm">
        <button class="flex accordion-trigger hover:text-eco-green focus:text-eco-green transition-all justify-between items-center w-full uppercase py-5 text-left" aria-expanded="true" aria-controls="accordion-item-1" id="accordion-title-1">
            WHAT MAKES SNEAKER LAB DIFFERENT FROM OTHER SHOE CARE PRODUCTS?
            <svg xmlns="http://www.w3.org/2000/svg" class="plus h-5 w-5" fill="none" viewbox="0 0 24 24" stroke="currentColor"
                 stroke-width="1">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" class="minus h-5 w-5" fill="none" viewbox="0 0 24 24" stroke="currentColor"
                 stroke-width="1">
                <path stroke-linecap="round" stroke-linejoin="round" d="M20 12H4" />
            </svg>
        </button>
    </h3>
    <div id="accordion-item-1" role="region" class="accordion-panel pb-5" aria-labelledby="accordion-title-1">
        <p class="text-sm">
            Sneaker Lab is the only shoe care brand that puts nature first. Our products are made from
            environmentally friendly ingredients and are 100% biodegradable; making us the only shoe care
            brand that puts nature first.
        </p>
    </div>
    <h3 class="border-t border-silver text-xs md:text-sm">
        <button class="flex accordion-trigger hover:text-eco-green focus:text-eco-green transition-all justify-between items-center w-full uppercase py-5 text-left" aria-expanded="false" aria-controls="accordion-item-2" id="accordion-title-2">
            HOW MANY PAIRS OF SHOES DOES EACH BOTTLE CLEAN?
            <svg xmlns="http://www.w3.org/2000/svg" class="plus h-5 w-5" fill="none" viewbox="0 0 24 24" stroke="currentColor"
                 stroke-width="1">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" class="minus h-5 w-5" fill="none" viewbox="0 0 24 24" stroke="currentColor"
                 stroke-width="1">
                <path stroke-linecap="round" stroke-linejoin="round" d="M20 12H4" />
            </svg>
        </button>
    </h3>
    <div id="accordion-item-2" role="region" hidden class="accordion-panel pb-5" aria-labelledby="accordion-title-2" >
        <p class="text-sm">
            Sneaker Lab is the only shoe care brand that puts nature first. Our products are made from
            environmentally friendly ingredients and are 100% biodegradable; making us the only shoe care
            brand that puts nature first.
        </p>
    </div>
    <h3 class="border-t border-silver text-xs md:text-sm">
        <button class="flex accordion-trigger hover:text-eco-green focus:text-eco-green transition-all justify-between items-center w-full uppercase py-5 text-left" aria-expanded="false" aria-controls="accordion-item-3" id="accordion-title-3">
            GENERAL CONDITIONS
            <svg xmlns="http://www.w3.org/2000/svg" class="plus h-5 w-5" fill="none" viewbox="0 0 24 24" stroke="currentColor"
                 stroke-width="1">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" class="minus h-5 w-5" fill="none" viewbox="0 0 24 24" stroke="currentColor"
                 stroke-width="1">
                <path stroke-linecap="round" stroke-linejoin="round" d="M20 12H4" />
            </svg>
        </button>
    </h3>
    <div id="accordion-item-3" role="region" hidden class="accordion-panel pb-5" aria-labelledby="accordion-title-3"  >
        <p class="text-sm">
            Sneaker Lab is the only shoe care brand that puts nature first. Our products are made from
            environmentally friendly ingredients and are 100% biodegradable; making us the only shoe care
            brand that puts nature first.
        </p>
    </div>
    <h3 class="border-t border-silver text-xs md:text-sm">
        <button class="flex accordion-trigger hover:text-eco-green focus:text-eco-green transition-all justify-between items-center w-full uppercase py-5 text-left" aria-expanded="false" aria-controls="accordion-item-4" id="accordion-title-4">
            WHICH PRODUCTS DO I USE ON WHICH MATERIAL/FABRIC?
            <svg xmlns="http://www.w3.org/2000/svg" class="plus h-5 w-5" fill="none" viewbox="0 0 24 24" stroke="currentColor"
                 stroke-width="1">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" class="minus h-5 w-5" fill="none" viewbox="0 0 24 24" stroke="currentColor"
                 stroke-width="1">
                <path stroke-linecap="round" stroke-linejoin="round" d="M20 12H4" />
            </svg>
        </button>
    </h3>
    <div id="accordion-item-4" role="region" hidden class="accordion-panel pb-5" aria-labelledby="accordion-title-4" >
        <p class="text-sm">
            Sneaker Lab is the only shoe care brand that puts nature first. Our products are made from
            environmentally friendly ingredients and are 100% biodegradable; making us the only shoe care
            brand that puts nature first.
        </p>
    </div>
    <h3 class="border-t border-silver text-xs md:text-sm">
        <button class="flex accordion-trigger hover:text-eco-green focus:text-eco-green transition-all justify-between items-center w-full uppercase py-5 text-left" aria-expanded="false" aria-controls="accordion-item-5" id="accordion-title-5">
            Modifications to the service and prices.
            <svg xmlns="http://www.w3.org/2000/svg" class="plus h-5 w-5" fill="none" viewbox="0 0 24 24" stroke="currentColor"
                 stroke-width="1">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" class="minus h-5 w-5" fill="none" viewbox="0 0 24 24" stroke="currentColor"
                 stroke-width="1">
                <path stroke-linecap="round" stroke-linejoin="round" d="M20 12H4" />
            </svg>
        </button>
    </h3>
    <div id="accordion-item-5" role="region" hidden class="accordion-panel pb-5" aria-labelledby="accordion-title-5" >
        <p class="text-sm">
            Sneaker Lab is the only shoe care brand that puts nature first. Our products are made from
            environmentally friendly ingredients and are 100% biodegradable; making us the only shoe care
            brand that puts nature first.
        </p>
    </div>
    <h3 class="border-t border-silver text-xs md:text-sm">
        <button class="flex accordion-trigger hover:text-eco-green focus:text-eco-green transition-all justify-between items-center w-full uppercase py-5 text-left" aria-expanded="false" aria-controls="accordion-item-6" id="accordion-title-6">
            WHAT ORDER DO I USE SNEAKER LAB PRODUCTS IN?
            <svg xmlns="http://www.w3.org/2000/svg" class="plus h-5 w-5" fill="none" viewbox="0 0 24 24" stroke="currentColor"
                 stroke-width="1">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" class="minus h-5 w-5" fill="none" viewbox="0 0 24 24" stroke="currentColor"
                 stroke-width="1">
                <path stroke-linecap="round" stroke-linejoin="round" d="M20 12H4" />
            </svg>
        </button>
    </h3>
    <div id="accordion-item-6" role="region" hidden class="accordion-panel pb-5" aria-labelledby="accordion-title-6" >
        <p class="text-sm">
            Sneaker Lab is the only shoe care brand that puts nature first. Our products are made from
            environmentally friendly ingredients and are 100% biodegradable; making us the only shoe care
            brand that puts nature first.
        </p>
    </div>
    <h3 class="border-t border-silver text-xs md:text-sm">
        <button class="flex accordion-trigger hover:text-eco-green focus:text-eco-green transition-all justify-between items-center w-full uppercase py-5 text-left" aria-expanded="false" aria-controls="accordion-item-7" id="accordion-title-7">
            CAN I USE SNEAKER LAB PRODUCTS ON NEW SHOES?
            <svg xmlns="http://www.w3.org/2000/svg" class="plus h-5 w-5" fill="none" viewbox="0 0 24 24" stroke="currentColor"
                 stroke-width="1">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" class="minus h-5 w-5" fill="none" viewbox="0 0 24 24" stroke="currentColor"
                 stroke-width="1">
                <path stroke-linecap="round" stroke-linejoin="round" d="M20 12H4" />
            </svg>
        </button>
    </h3>
    <div id="accordion-item-7" role="region" hidden class="accordion-panel pb-5" aria-labelledby="accordion-title-7" >
        <p class="text-sm">
            Sneaker Lab is the only shoe care brand that puts nature first. Our products are made from
            environmentally friendly ingredients and are 100% biodegradable; making us the only shoe care
            brand that puts nature first.
        </p>
    </div>
    <h3 class="border-t border-silver text-xs md:text-sm">
        <button class="flex accordion-trigger hover:text-eco-green focus:text-eco-green transition-all justify-between items-center w-full uppercase py-5 text-left" aria-expanded="false" aria-controls="accordion-item-8" id="accordion-title-8">
            HOW DO I USE SNEAKER LAB CLEANER?
            <svg xmlns="http://www.w3.org/2000/svg" class="plus h-5 w-5" fill="none" viewbox="0 0 24 24" stroke="currentColor"
                 stroke-width="1">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" class="minus h-5 w-5" fill="none" viewbox="0 0 24 24" stroke="currentColor"
                 stroke-width="1">
                <path stroke-linecap="round" stroke-linejoin="round" d="M20 12H4" />
            </svg>
        </button>
    </h3>
    <div id="accordion-item-8" role="region" hidden class="accordion-panel pb-5" aria-labelledby="accordion-title-8" >
        <p class="text-sm">
            Sneaker Lab is the only shoe care brand that puts nature first. Our products are made from
            environmentally friendly ingredients and are 100% biodegradable; making us the only shoe care
            brand that puts nature first.
        </p>
    </div>
    <h3 class="border-t border-silver text-xs md:text-sm">
        <button class="flex accordion-trigger hover:text-eco-green focus:text-eco-green transition-all justify-between items-center w-full uppercase py-5 text-left" aria-expanded="false" aria-controls="accordion-item-9" id="accordion-title-9">
            HOW DO I USE SNEAKER LAB PROTECTOR AND/OR LEATHER CARE?
            <svg xmlns="http://www.w3.org/2000/svg" class="plus h-5 w-5" fill="none" viewbox="0 0 24 24" stroke="currentColor"
                 stroke-width="1">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" class="minus h-5 w-5" fill="none" viewbox="0 0 24 24" stroke="currentColor"
                 stroke-width="1">
                <path stroke-linecap="round" stroke-linejoin="round" d="M20 12H4" />
            </svg>
        </button>
    </h3>
    <div id="accordion-item-9" role="region" hidden class="accordion-panel pb-5" aria-labelledby="accordion-title-9" >
        <p class="text-sm">
            Sneaker Lab is the only shoe care brand that puts nature first. Our products are made from
            environmentally friendly ingredients and are 100% biodegradable; making us the only shoe care
            brand that puts nature first.
        </p>
    </div>
    <h3 class="border-t border-silver text-xs md:text-sm">
        <button class="flex accordion-trigger hover:text-eco-green focus:text-eco-green transition-all justify-between items-center w-full uppercase py-5 text-left" aria-expanded="false" aria-controls="accordion-item-10" id="accordion-title-10">
            HOW DO I USE ODOUR PROTECTOR?
            <svg xmlns="http://www.w3.org/2000/svg" class="plus h-5 w-5" fill="none" viewbox="0 0 24 24" stroke="currentColor"
                 stroke-width="1">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" class="minus h-5 w-5" fill="none" viewbox="0 0 24 24" stroke="currentColor"
                 stroke-width="1">
                <path stroke-linecap="round" stroke-linejoin="round" d="M20 12H4" />
            </svg>
        </button>
    </h3>
    <div id="accordion-item-10" role="region" hidden class="accordion-panel pb-5" aria-labelledby="accordion-title-10" >
        <p class="text-sm">
            Sneaker Lab is the only shoe care brand that puts nature first. Our products are made from
            environmentally friendly ingredients and are 100% biodegradable; making us the only shoe care
            brand that puts nature first.
        </p>
    </div>
    <h3 class="border-t border-silver text-xs md:text-sm">
        <button class="flex accordion-trigger hover:text-eco-green focus:text-eco-green transition-all justify-between items-center w-full uppercase py-5 text-left" aria-expanded="false" aria-controls="accordion-item-11" id="accordion-title-11">
            WHAT ARE THE SNEAKER WIPES AND LEATHER WIPES FOR?
            <svg xmlns="http://www.w3.org/2000/svg" class="plus h-5 w-5" fill="none" viewbox="0 0 24 24" stroke="currentColor"
                 stroke-width="1">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" class="minus h-5 w-5" fill="none" viewbox="0 0 24 24" stroke="currentColor"
                 stroke-width="1">
                <path stroke-linecap="round" stroke-linejoin="round" d="M20 12H4" />
            </svg>
        </button>
    </h3>
    <div id="accordion-item-11" role="region" hidden class="accordion-panel pb-5" aria-labelledby="accordion-title-11" >
        <p class="text-sm">
            Sneaker Lab is the only shoe care brand that puts nature first. Our products are made from
            environmentally friendly ingredients and are 100% biodegradable; making us the only shoe care
            brand that puts nature first.
        </p>
    </div>
    <h3 class="border-t border-silver border-b text-xs md:text-sm">
        <button class="flex accordion-trigger hover:text-eco-green focus:text-eco-green transition-all justify-between items-center w-full uppercase py-5 text-left" aria-expanded="false" aria-controls="accordion-item-12" id="accordion-title-12">
            WHY DO I NEED YOUR MICROFIBER TOWEL?
            <svg xmlns="http://www.w3.org/2000/svg" class="plus h-5 w-5" fill="none" viewbox="0 0 24 24" stroke="currentColor"
                 stroke-width="1">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" class="minus h-5 w-5" fill="none" viewbox="0 0 24 24" stroke="currentColor"
                 stroke-width="1">
                <path stroke-linecap="round" stroke-linejoin="round" d="M20 12H4" />
            </svg>
        </button>
    </h3>
    <div id="accordion-item-12" role="region" hidden class="accordion-panel pb-5" aria-labelledby="accordion-title-12" >
        <p class="text-sm">
            Sneaker Lab is the only shoe care brand that puts nature first. Our products are made from
            environmentally friendly ingredients and are 100% biodegradable; making us the only shoe care
            brand that puts nature first.
        </p>
    </div>
</div>
