<div class="col-span-12 mb-8 md:mb-12">
    <h3 class="uppercase tracking-tighter font-medium text-4xl md:text-7xl md:max-w-[1048px]">
        “Sneaker Wipes, in my opinion, are one of the greatest inventions ever.”
    </h3>
</div>
