{% comment %}
    Renders Markup for filter
{% endcomment %}

<div style="top: 100%;" class="filter-dropdown absolute invisible opacity-0 pointer-events-none z-10 bg-[#fff]/70 backdrop-blur w-full left-0 p-5 -bottom-72" aria-hidden="true" id="filter-dropdown">
    <ul>
        <li class="text-2xl lg:text-5xl uppercase font-medium text-[#000]">
            <a role="button" class="filter-item hover:opacity-50 focus:opacity-50 transition-all" href="/pages/blog/">
                All,
            </a>
        </li>
        <li class="text-2xl lg:text-5xl uppercase font-medium text-[#818181]">
            <a role="button" class="filter-item hover:opacity-50 focus:opacity-50 transition-all" href="#article">
                Article,
            </a>
        </li>
        <li class="text-2xl lg:text-5xl uppercase font-medium text-[#818181]">
            <a role="button" class="filter-item hover:opacity-50 focus:opacity-50 transition-all" href="#interview">
                Interview,
            </a>
        </li>
        <li class="text-2xl lg:text-5xl uppercase font-medium text-[#818181]">
            <a role="button" class="filter-item hover:opacity-50 focus:opacity-50 transition-all" href="#video">
                Video,
            </a>
        </li>
        {% comment %}<li class="text-2xl lg:text-5xl uppercase font-medium text-[#818181]">{% endcomment %}
            {% comment %}<a role="button" class="filter-item hover:opacity-50 focus:opacity-50 transition-all" href="/blogs/how-to/">{% endcomment %}
                {% comment %}How To,{% endcomment %}
            {% comment %}</a>{% endcomment %}
        {% comment %}</li>{% endcomment %}
        {% comment %}<li class="text-2xl lg:text-5xl uppercase font-medium text-[#818181]">{% endcomment %}
            {% comment %}<a role="button" class="filter-item hover:opacity-50 focus:opacity-50 transition-all" href="/blogs/collaborations/">{% endcomment %}
                {% comment %}Collaborations,{% endcomment %}
            {% comment %}</a>{% endcomment %}
        {% comment %}</li>{% endcomment %}
        {% comment %}<li class="text-2xl lg:text-5xl uppercase font-medium text-[#818181]">{% endcomment %}
            {% comment %}<a role="button" class="filter-item hover:opacity-50 focus:opacity-50 transition-all" href="/blogs/stories/">{% endcomment %}
                {% comment %}Stories,{% endcomment %}
            {% comment %}</a>{% endcomment %}
        {% comment %}</li>{% endcomment %}
    </ul>
</div>
