<div class="fixed p-2 z-40 rounded-tr-lg rounded-bl-lg right-2 md:right-4 bottom-2 md:bottom-4 w-full max-w-[300px] md:max-w-[385px] invisible opacity-0 bg-[#fff] pointer-events-none"
     id="add-to-cart-modal" aria-hidden="true">
    <div class="relative">
        <div class="flex justify-between items-center">
            <div class="flex items-start">
                <figure class="bg-light-gray rounded-md py-2 px-4 mr-2">
                    <img src="{{ '38x38.jpg' | asset_url }}" alt="" width="38" height="38" decoding="async" />
                </figure>
                <h5 class="leading-[0]">
                    <span class="uppercase text-xs font-medium">Premium Kit</span>
                    <span class="block text-xs font-medium text-gray">4.2 FL OZ</span>
                </h5>
            </div>
            <p>
                <span class="uppercase font-medium text-xs text-gray">$12.99</span>
            </p>
        </div>
        <div class="flex mt-2">
            <button class="w-2/4 border text-xs border-silver rounded">
                View Cart
            </button>
            <button class="bg-eco-green text-[#fff] ml-2 text-xs md:text-sm py-3 w-2/4 rounded hover:bg-forest-green">
                Checkout
            </button>
        </div>
    </div>
</div>
