{% comment %}
    Colophon - Social media tags
{% endcomment %}

<div class="grid xl:container xl:mx-auto lg:grid-cols-12 gap-4 pb-10 px-4 lg:px-5">
    <p class="uppercase xs:mt-4 lg:mt-0 text-xs lg:col-span-6 col-span-12 xs:col-span-6 order-2 lg:order-1">Copyright &copy; SneakerLab</p>
    <ul class="flex lg:col-span-3 col-span-12 order-1 lg:order-2">
        <li class="mr-1">
            <a class="uppercase text-xs" href="https://www.facebook.com/SneakerLab.StayFresh" rel="noopener noreferrer">
                <span class="sr-only">Follow SneakerLab on</span>
                Facebook,
            </a>
        </li>
        <li class="mr-1">
            <a class="uppercase text-xs" href="https://www.instagram.com/sneakerlab/" rel="noopener noreferrer"><span class="sr-only">Follow SneakerLab on</span>Instagram,</a>
        </li>
        <li class="mr-1">
            <a class="uppercase text-xs" href="https://twitter.com/Sneaker_LAB" rel="noopener noreferrer">
                <span class="sr-only">Follow SneakerLab on</span>
                Twitter,
            </a>
        </li>
        <li>
            <a class="uppercase text-xs" href="https://www.youtube.com/channel/UCGfUAzXpLw7cjdtvKCB0xfA" rel="noopener noreferrer">
                <span class="sr-only">Follow SneakerLab on</span>
                Youtube
            </a>
        </li>
    </ul>
    <p class="uppercase text-xs xs:mt-4 lg:mt-0 lg:col-span-3 col-span-12 xs:col-span-6 order-3 lg:order-3 lg:text-right xl:text-left">Site by <a href="https://dashdigital.studio/" target="_blank" rel="noopener noreferrer">Dash Digital &reg;</a></p>
</div>
