<style>
    .joe {
        flex-direction: row !important;
    }
</style>


{% comment %}
    Colophon - Social media tags
{% endcomment %}

<!-- <div class="grid items-center grid-cols-3 gap-4 px-4 pb-10 sm:text-center lg:text-left lg:grid-cols-12 lg:px-5 xl:container xl:mx-auto">
    <p class="col-span-1 text-xs uppercase lg:col-span-3">Copyright &copy; SneakerLab</p>
    <ul class="flex col-span-1 pt-40 -mt-4 lg:col-span-3">
        <li class="mr-1">
            <a class="text-xs uppercase" href="https://www.facebook.com/SneakerLab.StayFresh" rel="noopener noreferrer">
                <span class="sr-only">Follow SneakerLab on</span>
                Facebook,
            </a>
        </li>
        <li class="mr-1">
            <a class="text-xs uppercase" href="https://www.instagram.com/sneakerlab/" rel="noopener noreferrer"><span class="sr-only">Follow SneakerLab on</span>Instagram,</a>
        </li>
        <li class="mr-1">
            <a class="text-xs uppercase" href="https://twitter.com/Sneaker_LAB" rel="noopener noreferrer">
                <span class="sr-only">Follow SneakerLab on</span>
                Twitter,
            </a>
        </li>
        <li>
            <a class="text-xs uppercase" href="https://www.youtube.com/channel/UCGfUAzXpLw7cjdtvKCB0xfA" rel="noopener noreferrer">
                <span class="sr-only">Follow SneakerLab on</span>
                Youtube
            </a>
        </li>
    </ul>
    <p class="col-span-1 text-xs uppercase lg:mt-0 lg:col-span-3">Site by <a href="https://dashdigital.studio/" target="_blank" rel="noopener noreferrer">Dash Digital &reg;</a></p>
</div> -->

<div class="flex flex-col gap-2 px-4 pb-10 font-medium md:gap-8 md:justify-between md:flex-row lg:gap-16 xl:container xl:mx-auto xl:flex-row">
    <p class="hidden text-xs uppercase md:block">Copyright &copy; SneakerLab</p>
    <div class="flex flex-col gap-8 md:flex-row lg:gap-16">
        <div class="flex flex-row gap-1">
            <a class="text-xs uppercase" href="https://www.facebook.com/SneakerLab.StayFresh" rel="noopener noreferrer">
                <span class="sr-only">Follow SneakerLab on</span>
                Facebook,
            </a>
            <a class="text-xs uppercase" href="https://www.instagram.com/sneakerlab/" rel="noopener noreferrer"><span
                    class="sr-only">Follow SneakerLab on</span>Instagram,
            </a>
            <a class="text-xs uppercase" href="https://twitter.com/Sneaker_LAB" rel="noopener noreferrer">
                <span class="sr-only">Follow SneakerLab on</span>
                Twitter,
            </a>
        </div>
        <p class="hidden text-xs uppercase md:block">Site by <a href="https://dashdigital.studio/"
            target="_blank" rel="noopener noreferrer">Dash Digital &reg;</a>
        </p>
        <div class="flex flex-row justify-between md:hidden">
            <p class="text-xs uppercase">Copyright &copy; SneakerLab</p>
            <p class="text-xs uppercase">Site by <a href="https://dashdigital.studio/" target="_blank"
                    rel="noopener noreferrer">Dash Digital &reg;</a>
            </p>
        </div>
    </div>
</div>
