{% comment %}
    Renders the main navigation for the header

    Usage:
    {% render 'header-navigation' %}
{% endcomment %}

<nav id="mobile-navigation" aria-hidden="true" class="fixed h-full z-10 top-12 px-4 pt-8 pb-5 left-0 overflow-x-hidden transition-all w-full backdrop-blur bg-[#fff]/50 transform-gpu -translate-x-full invisible lg:hidden">
    <div class="relative h-full">
        <ul>
            <li><a class="text-3xl sm:text-4xl uppercase" href="/collections/shop">Shop</a></li>
            <li><a class="text-3xl sm:text-4xl uppercase" href="../pages/how-to">How To</a></li>
            <li><a class="text-3xl sm:text-4xl uppercase" href="../pages/collaboration">Collaborations</a></li>
            <li><a class="text-3xl sm:text-4xl uppercase" href="../pages/stories">Stories</a></li>
            <li><a class="text-3xl sm:text-4xl uppercase" href="/account/">Account</a></li>
        </ul>
        <ul class="flex absolute bottom-12">
            <li class="uppercase text-xs mr-1">
                <a href="https://www.facebook.com/SneakerLab.StayFresh" rel="noopener noreferrer"  target="_blank">
                    <span class="sr-only">Follow SneakerLab on</span>
                    Facebook,
                </a>
            </li>
            <li class="uppercase text-xs mr-1">
                <a href="https://www.instagram.com/sneakerlab/"  target="_blank" rel="noopener noreferrer"><span class="sr-only">Follow
                        SneakerLab on</span>Instagram,</a>
            </li>
            <li class="uppercase text-xs mr-1">
                <a href="https://twitter.com/Sneaker_LAB"  target="_blank" rel="noopener noreferrer">
                    <span class="sr-only">Follow SneakerLab on</span>
                    Twitter,
                </a>
            </li>
            <li class="uppercase text-xs">
                <a href="https://www.youtube.com/channel/UCGfUAzXpLw7cjdtvKCB0xfA" target="_blank" rel="noopener noreferrer">
                    <span class="sr-only">Follow SneakerLab on</span>
                    Youtube
                </a>
            </li>
        </ul>
    </div>
</nav>

<script>
    const Navigation = () => {
        const trigger = document.getElementById('mobile-navigation-trigger')
        const nav = document.getElementById('mobile-navigation')
        const loggedIn = false;

        trigger && trigger.addEventListener('click', () => {
            if (!nav.classList.contains('menu-visible')) {
                document.body.classList.add('overflow-hidden')
                nav.classList.add('menu-visible')
                trigger.innerHTML = 'Close'
                nav.setAttribute('aria-hidden', 'false')
                trigger.setAttribute('aria-expanded', 'true')
            } else {
                document.body.classList.remove('overflow-hidden')
                nav.classList.remove('menu-visible')
                trigger.innerHTML = 'Menu'
                nav.setAttribute('aria-hidden', 'true')
                trigger.setAttribute('aria-expanded', 'false')
            }
        })
    }

    Navigation();
</script>
