<div class="col-span-12 md:col-span-6 mb-8 md:mb-12">
    <p class="text-xl md:text-3xl md:max-w-[360px]">We got in touch with Story's founder Chris Jack to ask him a few questions about the store and the collaboration.</p>
</div>
<div class="col-span-12 md:col-span-6 mb-8 md:mb-16">
    <dl class="text-xs md:text-sm">
        <dt class="font-medium mb-4 pl-16 md:pl-8 relative before:absolute before:left-0 before:content-['SL']">
            Introduce yourself and tell us more about what you do?
        </dt>
        <dd class="mb-8 pl-16 md:pl-8 relative before:absolute before:left-0 before:content-['CJ']">
            Hey, my name’s Chris Jack and I am the founder & director of Story, South Africa’s Premium Sneaker, Apparel &
            Collectibles Marketplace Store, as well as Sneaker Stories TV, a review channel for all things sneaker.
        </dd>
        <dt class="font-medium mb-4 pl-16 md:pl-8 relative before:absolute before:left-0 before:content-['SL']">
            Tell us more about Story and why you started it?
        </dt>
        <dd class="mb-0 pl-16 md:pl-8 relative before:absolute before:left-0 before:content-['CJ']">
            Story was born out of a growing necessity for a safe & secure marketplace for people to buy and sell their sneakers, streetwear & the likes in South Africa.

            Through my pages & YouTube channel, I realised that there was an ever-growing need for this as the culture was being too often exploited by “fake companies” trying to scam unsuspecting customers with knock-off products.

            The majority of shoes I feature on my channel are rare, collectible & not easily available to purchase at retail level, which creates an ideal opportunity for people to get caught out with paying a premium for something that isn’t
            authentic.

            So to close this loop, essentially, I wanted to create a space that took the negative out of the equation, while
            offering sneaker and streetwear enthusiasts a place they could buy and sell stress-free, all while learning more about product, in an experience that rivals our international counterparts.
        </dd>
    </dl>
</div>
