{% comment %}
    Pop up for cookies consent
{% endcomment %}

<div class="absolute p-6 z-20 rounded-tr-lg rounded-bl-lg right-4 bottom-4 w-full max-w-[385px] invisible opacity-0 bg-[#fff] pointer-events-none"
     id="cookies-modal" aria-hidden="true">
    <p class="mb-8 text-sm">This site uses third-party website tracking technologies to provide and continually improve our services, and to display
        advertisements according to users' interests. I agree and may revoke or change my consent at any time with effect for
        the future.</p>
    <button class="bg-eco-green text-[#fff] text-sm py-3 px-9 w-full rounded hover:bg-forest-green">Accept all</button>
</div>

