{% comment %}
    Renders the sign up form

    Usage:
    {% render 'sign-up-form' %}
{% endcomment %}

<form class="max-w-[695]">
    <fieldset>
        <legend class="text-sm">
            <p class="mt-8 mb-10 font-normal max-w-[300]">Please enter your details below to create an account.</p>
        </legend>
        <div class="block w-full mb-8">
            <label for="firstname">
                <span class="block uppercase text-xs mb-1.5 text-cod-gray">First Name*</span>
                <input
                        class="border border-silver p-1.5 hover:border-[#000] focus:border-[#000] text-[#000] outline-none block w-full rounded transition-all"
                        type="email" id="firstname" name="firstname" required autocomplete="off" />
            </label>
        </div>
        <div class="block w-full mb-8">
            <label for="lastname">
                <span class="block uppercase text-xs mb-1.5 text-cod-gray">Last Name*</span>
                <input
                        class="border border-silver p-1.5 hover:border-[#000] focus:border-[#000] text-[#000] outline-none block w-full rounded transition-all"
                        type="email" id="lastname" name="lastname" required autocomplete="off" />
            </label>
        </div>
        <div class="block w-full mb-8">
            <label for="email">
                <span class="block uppercase text-xs mb-1.5 text-cod-gray">Email*</span>
                <input
                        class="border border-silver p-1.5 hover:border-[#000] focus:border-[#000] text-[#000] outline-none block w-full rounded transition-all"
                        type="email" id="email" name="email" required autocomplete="off" />
            </label>
        </div>
        <div class="block w-full mb-8">
            <label for="password">
                <span class="block uppercase text-xs mb-1.5 text-cod-gray">Password*</span>
                <input
                        class="border border-silver hover:border-[#000] focus:border-[#000] text-[#000] outline-none p-1.5 block w-full rounded transition-all"
                        type="password" id="password" name="password" required autocomplete="off" />
            </label>

        </div>
        <div class="md:flex justify-between items-center">
            <label class="checkbox-container text-cod-gray">
                <input type="hidden" name="customer[accepts_marketing]" value="" />
                <input type="checkbox" name="customer[accepts_marketing]" checked="checked" />
                <span class="checkmark"></span>
                <span class="text-xs uppercase leading-normal">Subscribe to Newsletter</span>
            </label>
            <button class="bg-eco-green mt-7 md:mt-0 text-[#fff] text-xs py-3 px-4 rounded hover:bg-forest-green" type="submit">Create account</button>
        </div>
        {% comment %}
        Adding custom check field for subscribing to newsletter
        <div>
            <input type="hidden" name="customer[accepts_marketing]" value="" />
            <input type="checkbox" name="customer[accepts_marketing]" checked="checked" />
            Subscribe to stay updated with new products and offers!
        </div>
        {% endcomment %}
    </fieldset>
</form>
