<div class="grid grid-cols-12 gap-2 w-full">
    <div class="col-span-12 md:col-span-3">
        <p class="text-xs uppercase md:text-sm">[&nbsp;&nbsp;Follow&nbsp;&nbsp;]</p>
    </div>
    <div class="col-span-12 md:col-span-9">
        <p class="text-xl md:text-3xl md:max-w-[696px]">
            Follow us to stay up to date with all things Sneaker LAB. <a href="https://instagram.com" target="_blank" rel="noopenner noreferrer">Instagram</a> and <a href="https://facebook.com" target="_blank" rel="noopenner noreferrer">Facebook</a>.
        </p>
    </div>
</div>
