<div class="hidden w-full sticky top-20 rounded-lg p-2 shadow-lg bg-[#fff] lg:flex items-center justify-between" id="add-to-cart-sticky" aria-hidden="true">
    <div class="flex items-center">
        <figure class="bg-light-gray rounded-md py-2 px-4">
            <img src="https://picsum.photos/76/76" alt="" width="38" height="38" />
        </figure>
        <p class="uppercase text-xs pl-3 font-medium relative after:content-[''] after:block after:absolute pr-4 after:h-[38px] after:top-[-10px] after:bottom-0 after:w-[1px] after:right-0 after:bg-silver">Premium Kit</p>
        <p class="uppercase text-xs pl-3 font-medium">$24.99</p>
    </div>
    <div class="flex">
        <include src="src/components/counter-input.html"></include>
        <button data-add-to-cart class="bg-eco-green text-[#fff] text-xs md:text-sm py-3 px-6 ml-3 rounded w-full hover:bg-forest-green">Add to
            cart</button>
    </div>
</div>
