<article data-cart-item class="flex items-center justify-between py-2 last:border-b border-t border-silver">
    <div class="w-[60%] xl:w-[65%] flex items-start md:items-center justify-start">
        <img class="rounded" src="https://picsum.photos/288/224" width="72" height="56" alt="" />
        <p class="md:flex justify-between uppercase text-xs ml-4 md:w-2/4">
            <span class="block md:inline-block">Sneaker Cleaner</span>
            <span class="block md:inline-block">4.2 FL OZ</span>
            <a class="md:hidden mt-5 block uppercase text-xs ml-auto" role="button" href="">Remove</a>
        </p>
    </div>
    <div class="w-[25%] xl:w-[20%] flex items-center">
        <include src="./src/components/counter-input.html"></include>
        <a class="hidden md:inline-block uppercase text-xs ml-auto" role="button" href="">Remove</a>
    </div>
    <div class="w-[15%] text-right text-sm">$24.99</div>
</article>
