<section class="xl:container xl:mx-auto mb-6">
    <h2 class="uppercase text-sm mb-5">[ Featured Stories ]</h2>
    <header class="relative flex justify-between items-center">
        <button data-filter-trigger class="relative focus:opacity-50 hover:opacity-50 transition-all uppercase text-5xl" type="button" aria-expanded="false" aria-controls="filter-dropdown">Filter+</button>
        <a class="md:block button hidden rounded py-3 px-12 font-medium text-sm border border-silver hover:border-[#000] focus:border-[#000] transition-all" href="/stories">View all stories</a>
        <include src="./src/components/filter.html"></include>
    </header>
    <div class="grid md:grid-cols-2 gap-4 mb-6 mt-6 border-silver border-t pt-6">
        <include src="src/components/featured-story.html"></include>
        <include src="src/components/featured-story.html"></include>
    </div>
    <div class="grid md:grid-cols-2 gap-4 pb-6 mb-6 border-silver md:border-b md:border-t md:pt-6">
        <include src="src/components/featured-story.html"></include>
        <include src="src/components/featured-story.html"></include>
    </div>
    <a class="inline-block md:hidden rounded py-3 px-12 font-medium text-sm border border-silver" href="/stories">View all
        stories</a>
</section>
