<section class="mb-6 xl:container xl:mx-auto">
    <h2 class="mb-5 text-sm uppercase">[ Featured Stories ]</h2>
    <header class="relative flex items-center justify-between">
        <button data-filter-trigger class="relative text-5xl uppercase transition-all focus:opacity-50 hover:opacity-50" type="button" aria-expanded="false" aria-controls="filter-dropdown">Filter+</button>
        <a class="md:block button hidden rounded py-3 px-12 font-medium text-sm border border-silver hover:border-[#000] focus:border-[#000] transition-all" href="/stories">View all stories</a>
        <include src="./src/components/filter.html"></include>
    </header>
    <div class="grid gap-4 pt-6 mt-6 mb-6 border-t md:grid-cols-2 border-silver">
        <include src="src/components/featured-story.html"></include>
        <include src="src/components/featured-story.html"></include>
    </div>
    <div class="grid gap-4 pb-6 mb-6 md:grid-cols-2 border-silver md:border-b md:border-t md:pt-6">
        <include src="src/components/featured-story.html"></include>
        <include src="src/components/featured-story.html"></include>
    </div>
    <a class="inline-block px-12 py-3 text-sm font-medium border rounded md:hidden border-silver" href="/stories">
        View all stories
    </a>
</section>
