<article class="flex flex-row border-silver border-t pt-6 md:pt-0 md:border-0">
    <figure class="basis-3/6">
        <a href="">
            <img class="rounded-lg" alt="Featured Story 4" src="https://picsum.photos/744/526" height="263"
                width="372" />
        </a>
    </figure>
    <div class="ml-4 basis-3/6 relative">
        <h3 class="uppercase text-xl leading-none lg:text-2xl xl:text-3xl md:max-w-[344]">How Our Green Journey
            Is Going</h3>
        <div class="absolute left-0 bottom-0 flex w-full justify-between xl:justify-start">
            <span class="text-sm block uppercase font-semibold">Article</span>
            <time class="text-sm block ml-2 uppercase">[ Oct 12, 2021 ]</time>
        </div>
    </div>
</article>
