<article id="" class="" aria-label="Sneaker Wipes">
    <figure class="bg-light-gray relative overflow-hidden marquee-wrap">
        <a href="/product-url">
            <img class="rounded-lg" alt="SneakerLab Product 3" src="https://picsum.photos/1520/1134" width="760" height="567"
                loading="lazy" />
        </a>
    
        <div class="marquee absolute top-[50%] opacity-0 transition-opacity pointer-events-none">
            <div class="inner relative w-full flex">
                <p class="text-eco-green uppercase whitespace-nowrap text-7xl">View [Sneaker Wipes]</p>
                <p class="text-eco-green uppercase whitespace-nowrap text-7xl">View [Sneaker Wipes]</p>
            </div>
        </div>
    </figure>
    <h3 class="uppercase text-xl md:text-2xl lg:text-3xl tracking-tighter mt-2">Sneaker Wipes</h3>
    <div class="flex items-start justify-between">
        <p class="uppercase text-sm max-w-[220] lg:max-w-none">12 Pack Box</p>
        <p class="uppercase text-sm">$9.99</p>
    </div>
</article>
