<section class="flex justify-between flex-col md:flex-row">
    <article class="mb-6 md:mb-0 md:mr-2">
        <figure class="relative overflow-hidden marquee-wrap">
            <a href="/products">
                <img class="rounded-lg" alt="Keep It Clean" src="https://picsum.photos/876/1200" height="712" width="520" />
            </a>
            <div class="marquee absolute top-[50%] opacity-0 transition-opacity pointer-events-none" data-speed="5">
                <div class="inner relative w-full flex">
                    <p class="text-eco-green uppercase whitespace-nowrap text-7xl">View [Products]</p>
                </div>
            </div>
        </figure>
        <h2 class="uppercase tracking-tighter text-xl xl:text-3xl leading-none max-w-[438] mt-3">Keep it clean. Make it last.
            Natural shoe care solutions</h2>
    </article>
    <article class="mb-6 md:mb-0 md:mr-2">
        <figure class="relative overflow-hidden marquee-wrap">
            <a href="/collaborations">
                <img class="rounded-lg" alt="Collaborations" src="https://picsum.photos/876/1200" height="712" width="520" />
            </a>
            <div class="marquee absolute top-[50%] opacity-0 transition-opacity pointer-events-none">
                <div class="inner relative w-full flex">
                    <p class="text-eco-green uppercase whitespace-nowrap text-7xl">View [Collaborations]</p>
                </div>
            </div>
        </figure>
        <h2 class="uppercase tracking-tighter text-xl xl:text-3xl leading-none max-w-[438] mt-3">Creative and limited edition
            brand collaborations.</h2>
    </article>
    <article>
        <figure class="relative overflow-hidden marquee-wrap">
            <a href="/how-to">
                <img class="rounded-lg" alt="Eco-friendly" src="https://picsum.photos/876/1200" height="712" width="520" />
            </a>
            <div class="marquee absolute top-[50%] opacity-0 transition-opacity pointer-events-none">
                <div class="inner relative w-full flex">
                    <p class="text-eco-green uppercase whitespace-nowrap text-7xl">View [How To]</p>
                </div>
            </div>
        </figure>
        <h2 class="uppercase tracking-tighter text-xl xl:text-3xl leading-none max-w-[438] mt-3">Better for your sneakers,
            better for your earth.</h2>
    </article>
</section>
