<span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
{%- if cart != empty -%}
    <div class="cart-count-bubble">
        {%- if cart.item_count < 100 -%}
            <span aria-hidden="true">Cart<sup id="cart-count">{{ cart.item_count }}</sup></span>
        {%- endif -%}
        <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
    </div>
{%- endif -%}
