{% comment %}
    Renders markup for featured stories grid.
{% endcomment %}

<section class="xl:container xl:mx-auto mb-6">
    <h2 class="uppercase text-sm mb-5">[ Featured Stories ]</h2>
    <header class="relative flex justify-between items-center">
        <button data-filter-trigger class="relative focus:opacity-50 hover:opacity-50 transition-all uppercase text-5xl" type="button" aria-expanded="false" aria-controls="filter-dropdown">Filter+</button>

        <a class="md:block button hidden rounded py-3 px-12 font-medium text-sm border border-silver hover:border-[#000] focus:border-[#000] transition-all" href="/stories">View all stories</a>

        <div class="filter-dropdown absolute invisible opacity-0 pointer-events-none z-10 bg-[#fff]/70 backdrop-blur w-full left-0 p-5 -bottom-72" aria-hidden="true" id="filter-dropdown">
            <ul>
                <li class="text-5xl uppercase font-medium text-[#000]">
                    <a role="button" class="filter-item hover:opacity-50 focus:opacity-50 transition-all" href="#all">
                        All
                    </a>,
                </li>
                <li class="text-5xl uppercase font-medium text-[#818181]">
                    <a role="button" class="filter-item hover:opacity-50 focus:opacity-50 transition-all" href="#sneaker-care">
                        Sneaker Care
                    </a>,
                </li>
                <li class="text-5xl uppercase font-medium text-[#818181]">
                    <a role="button" class="filter-item hover:opacity-50 focus:opacity-50 transition-all" href="#hat-care">
                        Hat Care
                    </a>,
                </li>
                <li class="text-5xl uppercase font-medium text-[#818181]">
                    <a role="button" class="filter-item hover:opacity-50 focus:opacity-50 transition-all" href="#sneaker-care">
                        Apparel Care
                    </a>,
                </li>
                <li class="text-5xl uppercase font-medium text-[#818181]">
                    <a role="button" class="filter-item hover:opacity-50 focus:opacity-50 transition-all" href="#sneaker-care">
                        Denim Care
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <div class="grid md:grid-cols-2 gap-4 mb-6 mt-6 border-silver border-t pt-6">
        {% render 'featured-story' %}
        {% render 'featured-story' %}
    </div>
    <div class="grid md:grid-cols-2 gap-4 pb-6 mb-6 border-silver md:border-b md:border-t md:pt-6">
        {% render 'featured-story' %}
        {% render 'featured-story' %}
    </div>
    <a class="inline-block md:hidden rounded py-3 px-12 font-medium text-sm border border-silver" href="/stories">
        View all stories
    </a>
</section>

<script>

    const Filter = () => {
        const trigger = document.querySelector('[data-filter-trigger]')
        const panel = document.getElementById('filter-dropdown')
        console.log(trigger)
        console.log(panel)

        trigger && trigger.addEventListener('click', () => {
            if (!panel.classList.contains('filter-active')) {
                trigger.innerHTML = 'Filter-'
                trigger.setAttribute('aria-expanded', 'true')
                panel.setAttribute('aria-hidden', 'false')
                panel.classList.add('filter-active')
            } else {
                trigger.innerHTML = 'Filter+'
                trigger.setAttribute('aria-expanded', 'false')
                panel.setAttribute('aria-hidden', 'true')
                panel.classList.remove('filter-active')
            }
        })

        document.addEventListener('keydown', (e) => {
            if (e.key === 'Escape') {
                trigger.innerHTML = 'Filter+'
                trigger.setAttribute('aria-expanded', 'false')
                panel.setAttribute('aria-hidden', 'true')
                panel.classList.remove('filter-active')
            }
        })

        document.addEventListener('mousedown', (e) => {
            if (!panel.contains(e.target) && e.target !== trigger) {
                trigger.innerHTML = 'Filter+'
                trigger.setAttribute('aria-expanded', 'false')
                panel.setAttribute('aria-hidden', 'true')
                panel.classList.remove('filter-active')
            }
        })
    }

    Filter()
</script>
