<div class="mt-20 mb-20 xl:mb-36 xl:mt-44 enviro-size">
    <p class="uppercase text-[2rem] md:text-[2.1875rem] xl:text-[80px] leading-[0.95] md:leading-[0.85] font-medium max-w-[1000px] tracking-tighter">
        {{ section.settings.text }}
    </p>
    <img
            width="320"
            height="68"
            class="mt-4" src="{{ 'efb-home-newest1.svg' | asset_url }}"
            alt="Environmentally Friendly Biotechnology"
            loading="lazy"
    >
</div>

{% schema %}
{
  "name": "Commitment Section",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Large Quote",
      "default": "AT SNEAKER LAB WE ARE COMMITTED TO BEING AS ENVIRONMENTALLY FRIENDLY AS WE CAN."
    }
  ]
}
{% endschema %}
