<section class="relative flex flex-col items-center justify-center h-screen">
  <h1
          class="hidden md:block text-5xl md:text-7xl lg:text-8xl xl:text-[6.875rem] uppercase text-left md:text-center mb-14 md:mb-10 text-[#fff]">
    <span class="inline-block font-semibold leading-none lg:block md:tracking-tighter ">Site currently</span>
    <span class="relative inline-block lg:block font-semibold md:tracking-tighter leading-none md:mt-[-12px]">
      under
      <span class="absolute md:relative left-4 lg:left-6 top-[-5px] lg:top-[-10px] inline-block text-left text-xs lg:text-sm tracking-normal max-w-[170px] lg:max-w-[200px] font-medium">
        [&nbsp;&nbsp;&nbsp;We will be live shortly.&nbsp;&nbsp;&nbsp;]
      </span>
    </span>

    <span class="inline-block lg:block font-semibold md:tracking-tighter leading-none md:mt-[-12px]">
      Maintenance
    </span>
  </h1>
  <h1 class="relative md:hidden block text-[3.375rem] leading-none md:text-7xl lg:text-8xl xl:text-[6.875rem] font-semibold uppercase text-center mb-14 md:mb-28 text-[#fff]">
    Page Not Found Return Home
    <span class="relative my-5 mx-auto block text-center text-xs lg:text-sm tracking-normal leading-none max-w-[170px] lg:max-w-[200px] font-medium">
      [&nbsp;&nbsp;&nbsp;Make sure to find your way back to the homepage.&nbsp;&nbsp;&nbsp;]
    </span>
  </h1>
</section>
