<div class="grid gap-4 px-4 mt-20 mb-10 md:grid-cols-12 xl:container xl:mx-auto md:mb-40 lg:px-5">
    <div class="col-span-6">
        <h1 class="text-5xl font-semibold uppercase md:text-8xl">
            Contact
        </h1>
        <h2 class="uppercase text-xs max-w-[168px] md:text-sm mt-4 md:mb-16 md:my-12 md:max-w-[340px]">
            [&nbsp;&nbsp;Drop us a mail or reach out on one of our social platforms.&nbsp;&nbsp;]
        </h2>
    </div>
    <div class="col-span-6">
        <h3 class="text-xs md:text-sm md:max-w-[345px] mb-16 md:mb-20 mt-10 md:mt-36">
            We’re here to deliver innovative shoe care solutions, through cutting edge science and technology, and to answer any of your product or sneaker care questions.
        </h3>

        <ul>
            <li class="relative overflow-hidden border-t border-dark-gray marquee-wrap">
                <a
                        class="flex items-center justify-between py-3 uppercase transition-all ticker hover:opacity-0"
                        href="mailto:hello@sneakerlab.com"
                        target="_blank"
                        rel="noopenner noreferrer"
                >
                    <span class="text-xl md:text-3xl">
                        Email
                    </span>
                    <span class="text-xs md:text-sm">
                        hello@sneakerlab.com
                    </span>
                </a>
                <div class="marquee absolute top-[20%] opacity-0 transition-opacity pointer-events-none" data-speed="5">
                    <div class="relative flex w-full inner">
                        <p class="text-3xl uppercase text-eco-green whitespace-nowrap">
                            VIEW [ EMAIL ] VIEW [ EMAIL ] VIEW [ EMAIL ] VIEW [ EMAIL ]
                        </p>
                    </div>
                </div>
            </li>
            <li class="relative overflow-hidden border-t border-dark-gray marquee-wrap">
                <a
                        class="flex items-center justify-between py-3 uppercase transition-all ticker hover:opacity-0"
                        href="https://www.instagram.com/sneakerlab/"
                        target="_blank"
                        rel="noopenner noreferrer"
                >
                    <span class="text-xl md:text-3xl">
                        Instagram
                    </span>
                    <span class="text-xs md:text-sm ">
                        @sneakerlab
                    </span>
                </a>
                <div class="marquee absolute top-[20%] opacity-0 transition-opacity pointer-events-none" data-speed="5">
                    <div class="relative flex w-full inner">
                        <p class="text-3xl uppercase text-eco-green whitespace-nowrap">
                            VIEW [ INSTAGRAM ] VIEW [ INSTAGRAM ] VIEW [ INSTAGRAM ] VIEW [ INSTAGRAM ]
                        </p>
                    </div>
                </div>
            </li>
            <li class="relative overflow-hidden border-t border-dark-gray marquee-wrap">
                <a
                        class="flex items-center justify-between py-3 uppercase transition-all ticker hover:opacity-0"
                        href="https://www.facebook.com/SneakerLab.StayFresh"
                        target="_blank"
                        rel="noopenner noreferrer"
                >
                    <span class="text-xl md:text-3xl">
                        Facebook
                    </span>
                    <span class="text-xs md:text-sm ">
                        /sneakerlab
                    </span>
                </a>
                <div class="marquee absolute top-[20%] opacity-0 transition-opacity pointer-events-none" data-speed="5">
                    <div class="relative flex w-full inner">
                        <p class="text-3xl uppercase text-eco-green whitespace-nowrap">
                            VIEW [ FACEBOOK ] VIEW [ FACEBOOK ] VIEW [ FACEBOOK ] VIEW [ FACEBOOK ]
                        </p>
                    </div>
                </div>
            </li>
            <li class="relative overflow-hidden border-t border-dark-gray marquee-wrap">
                <a
                        class="flex items-center justify-between py-3 uppercase transition-all ticker hover:opacity-0"
                        href="https://twitter.com/Sneaker_LAB"
                        target="_blank"
                        rel="noopenner noreferrer"
                >
                    <span class="text-xl md:text-3xl">
                        Twitter
                    </span>
                    <span class="text-xs md:text-sm ">
                        @sneakerlab
                    </span>
                </a>
                <div class="marquee absolute top-[20%] opacity-0 transition-opacity pointer-events-none" data-speed="5">
                    <div class="relative flex w-full inner">
                        <p class="text-3xl uppercase text-eco-green whitespace-nowrap">
                            VIEW [ TWITTER ] VIEW [ TWITTER ] VIEW [ TWITTER ] VIEW [ TWITTER ]
                        </p>
                    </div>
                </div>
            </li>
            <li class="relative overflow-hidden border-t border-dark-gray marquee-wrap">
                <a
                        class="flex items-center justify-between py-3 uppercase transition-all ticker hover:opacity-0"
                        href="https://open.spotify.com/playlist/3rknpHD1Ef9wVMgRHksmDM"
                        target="_blank"
                        rel="noopenner noreferrer"
                >
                    <span class="text-xl md:text-3xl">
                        Spotify
                    </span>
                    <span class="text-xs md:text-sm">
                        /sneakerlab
                    </span>
                </a>
                <div class="marquee absolute top-[20%] opacity-0 transition-opacity pointer-events-none" data-speed="5">
                    <div class="relative flex w-full inner">
                        <p class="text-3xl uppercase text-eco-green whitespace-nowrap">
                            VIEW [ SPOTIFY ] VIEW [ SPOTIFY ] VIEW [ SPOTIFY ] VIEW [ SPOTIFY ]
                        </p>
                    </div>
                </div>
            </li>
            <li class="relative overflow-hidden border-t border-b border-dark-gray marquee-wrap">
                <a
                        class="flex items-center justify-between py-3 uppercase transition-all ticker hover:opacity-0"
                        href="https://www.youtube.com/channel/UCGfUAzXpLw7cjdtvKCB0xfA"
                        target="_blank"
                        rel="noopenner noreferrer"
                >
                    <span class="text-xl md:text-3xl">
                        Youtube
                    </span>
                    <span class="text-xs md:text-sm">
                        /sneakerlab
                    </span>
                </a>
                <div class="marquee absolute top-[20%] opacity-0 transition-opacity pointer-events-none" data-speed="5">
                    <div class="relative flex w-full inner">
                        <p class="text-3xl uppercase text-eco-green whitespace-nowrap">
                            VIEW [ YOUTUBE ] VIEW [ YOUTUBE ] VIEW [ YOUTUBE ] VIEW [ YOUTUBE ]
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
