<div class="grid grid-cols-12 gap-2 mt-4">
    <div class="col-span-12 md:col-span-6 mb-14 md:mb-0">
        <p class="uppercase text-xs md:text-sm mb-5">[&nbsp;&nbsp;Product Information&nbsp;&nbsp;]</p>
        <img class="rounded-lg mb-3" src="{{ '412x415.jpg' | asset_url }}" width="412" height="415" alt="" loading="lazy" decoding="async">
        <h3 class="uppercase max-w-[412px] text-xl md:text-3xl mb-4">Environmentally Friendly</h3>
        <p class="text-xs md:text-sm max-w-[412px]">The probacterial solution accelerates the breakdown of dirt and continues to clean for up to 3 days after application. Sneaker Cleaner contains no harmful chemicals or toxins and is GreenTag certified, meaning you can now clean your sneakers in the cleanest way possible.</p>
    </div>
    <div class="col-span-12 md:col-span-6">
        <img class="rounded-lg mb-3" alt="SneakerLab Product 3" src="{{ '343x360.jpg' | asset_url }}" width="744"
             height="555" decoding="async" />
        <h3 class="text-xl md:text-3xl uppercase mb-4">Biodegradable Cleaning Solution</h3>
        <p class="text-xs md:text-sm">Our products are biodegradable, contain no harsh chemicals, non-hazardous and non-toxic, cruelty free and Vegan.</p>
    </div>
    <div class="col-span-12 md:col-span-6 mt-16 md:mt-36">
        <h3 class="uppercase text-4xl lg:text-7xl font-medium">100 percent recyclable bottles</h3>
    </div>
    <div class="col-span-12 md:col-span-6 mt-8 md:mt-36">
        <div class="grid grid-cols-2 md:grid-cols-4 gap-2">
            <img class="rounded-lg mb-3" alt="SneakerLab Product 3" src="{{ '185x145.jpg' | asset_url }}" width="185"
                 height="145" decoding="async" />
            <img class="rounded-lg mb-3" alt="SneakerLab Product 3" src="{{ '185x145.jpg' | asset_url }}" width="185"
                 height="145" decoding="async" />
        </div>
        <p class="text-xs md:text-sm max-w-[325px]">Our bottles are 100% recyclable (our Sneaker Wipe towelling is 100% recyclable too) and made up of up to 40% already recycled plastic.</p>
    </div>
</div>
