<div class="grid md:grid-cols-12 gap-4 xl:container xl:mx-auto mt-20 mb-10 md:mb-40 px-4 lg:px-5">
    <div class="col-span-6">
        <h1 class="font-semibold text-5xl md:text-8xl uppercase">
            Contact
        </h1>
        <h2 class="uppercase text-xs max-w-[168px] md:text-sm mt-4 md:mb-16 md:my-12 md:max-w-[340px]">
            [&nbsp;&nbsp;Drop us a mail or reach out on one of our social platforms.&nbsp;&nbsp;]
        </h2>
    </div>
    <div class="col-span-6">
        <h3 class="text-xs md:text-sm md:max-w-[345px] mb-16 md:mb-20 mt-10 md:mt-36">
            We’re here to deliver innovative shoe care solutions, through cutting edge science and technology, and to answer any of your product or sneaker care questions.
        </h3>

        <ul>
            <li class="border-t border-dark-gray">
                <a
                    class="flex ticker hover:text-eco-green focus:text-eco-green transition-all py-3 items-center justify-between uppercase"
                    href="mailto:hello@sneakerlab.com"
                    target="_blank"
                    rel="noopenner noreferrer"
                >
                    <span class="text-xl md:text-3xl">
                        Email
                    </span>
                    <span class="text-xs md:text-sm">
                        hello@sneakerlab.com
                    </span>
                </a>
            </li>
            <li class="border-t border-dark-gray">
                <a
                    class="flex ticker hover:text-eco-green focus:text-eco-green transition-all py-3 items-center justify-between uppercase"
                    href="https://instagram.com"
                    target="_blank"
                    rel="noopenner noreferrer"
                >
                    <span class="text-xl md:text-3xl">
                        Instagram
                    </span>
                    <span class="text-xs md:text-sm ">
                        @sneakerlab
                    </span>
                </a>
            </li>
            <li class="border-t border-dark-gray">
                <a
                    class="flex ticker hover:text-eco-green focus:text-eco-green transition-all py-3 items-center justify-between uppercase"
                    href="http://facebook.com"
                    target="_blank"
                    rel="noopenner noreferrer"
                >
                    <span class="text-xl md:text-3xl">
                        Facebook
                    </span>
                    <span class="text-xs md:text-sm ">
                        /sneakerlab
                    </span>
                </a>
            </li>
            <li class="border-t border-dark-gray">
                <a
                    class="flex ticker hover:text-eco-green focus:text-eco-green transition-all py-3 items-center justify-between uppercase"
                    href="https://twitter.com"
                    target="_blank"
                    rel="noopenner noreferrer"
                >
                    <span class="text-xl md:text-3xl">
                        Twitter
                    </span>
                    <span class="text-xs md:text-sm ">
                        @sneakerlab
                    </span>
                </a>
            </li>
            <li class="border-t border-dark-gray">
                <a
                    class="flex ticker hover:text-eco-green focus:text-eco-green transition-all py-3 items-center justify-between uppercase"
                    href="https://spotify.com"
                    target="_blank"
                    rel="noopenner noreferrer"
                >
                    <span class="text-xl md:text-3xl">
                        Spotify
                    </span>
                    <span class="text-xs md:text-sm">
                        /sneakerlab
                    </span>
                </a>
            </li>
            <li class="border-t border-b border-dark-gray">
                <a
                    class="flex ticker hover:text-eco-green focus:text-eco-green transition-all py-3 items-center justify-between uppercase"
                    href="http://youtube.com"
                    target="_blank"
                    rel="noopenner noreferrer"
                >
                    <span class="text-xl md:text-3xl">
                        Youtube
                    </span>
                    <span class="text-xs md:text-sm">
                        /sneakerlab
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>
