<div>
    <div class="rte">
        {{ page.content }}
    </div>
</div>

{% schema %}
{
  "name": "t:sections.main-test.name",
  "tag": "section",
  "class": "section",
  "settings": [

  ]
}
{% endschema %}
