@tailwind base;
@tailwind components;
@tailwind utilities;

/* latin-ext */
/*@font-face {*/
/*    font-family: 'Raleway';*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    font-display: swap;*/
/*    src: url('/public/fonts/1Ptug8zYS_SKggPNyCMIT4ttDfCmxA.woff2') format('woff2');*/
/*    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;*/
/*}*/

/* latin */
/*@font-face {*/
/*    font-family: 'Raleway';*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    font-display: swap;*/
/*    src: url('/public/fonts/1Ptug8zYS_SKggPNyC0IT4ttDfA.woff2') format('woff2');*/
/*    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;*/
/*}*/

/* latin-ext */
/*@font-face {*/
/*    font-family: 'Raleway';*/
/*    font-style: normal;*/
/*    font-weight: 500;*/
/*    font-display: swap;*/
/*    src: url('/public/fonts/1Ptug8zYS_SKggPNyCMIT4ttDfCmxA.woff2') format('woff2');*/
/*    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;*/
/*}*/

/* latin */
/*@font-face {*/
/*    font-family: 'Raleway';*/
/*    font-style: normal;*/
/*    font-weight: 500;*/
/*    font-display: swap;*/
/*    src: url('/public/fonts/1Ptug8zYS_SKggPNyC0IT4ttDfA.woff2') format('woff2');*/
/*    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;*/
/*}*/

/* latin-ext */
/*@font-face {*/
/*    font-family: 'Raleway';*/
/*    font-style: normal;*/
/*    font-weight: 600;*/
/*    font-display: swap;*/
/*    src: url('/public/fonts/1Ptug8zYS_SKggPNyCMIT4ttDfCmxA.woff2') format('woff2');*/
/*    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;*/
/*}*/

/* latin */
/*@font-face {*/
/*    font-family: 'Raleway';*/
/*    font-style: normal;*/
/*    font-weight: 600;*/
/*    font-display: swap;*/
/*    src: url('/public/fonts/1Ptug8zYS_SKggPNyC0IT4ttDfA.woff2') format('woff2');*/
/*    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;*/
/*}*/

a:not(.logo):not(.button):not(.sr-only):not(.thumbnail):not(.play-video):not(.filter-item) {
    @apply relative after:content-[''] after:absolute after:w-0 after:left-0 after:border-b after:border-solid after:border-[rgb(0,0,0)] after:block hover:after:w-full focus:after:w-full focus:outline-0 after:transition-all after:ease-in-out after:duration-300
}

.page-inverted {
    @apply bg-[#000] text-[#fff]
}

.is-sticky {
    @apply bg-[#fff]/50 backdrop-blur
}

.view-all {
    position: absolute !important
}

.page-inverted a:not(.logo):not(.button):not(.sr-only):not(.thumbnail):not(.play-video):not(.filter-item) {
    @apply relative after:content-[''] after:absolute after:w-0 after:left-0 after:border-b after:border-solid after:border-[#fff] after:block hover:after:w-full focus:after:w-full focus:outline-0 after:transition-all after:ease-in-out after:duration-300
}

.page-inverted .is-sticky  {
    @apply bg-[#000]/50 backdrop-blur
}

.page-inverted .filter-dropdown {
    @apply bg-[#000]/50 !important
}

.page-inverted .filter-dropdown .filter-item {
    @apply text-[#fff] !important
}

.page-inverted .logo path {
    @apply fill-[#fff]
}

.page-inverted .input {
    @apply border-[#fff] bg-[#000]
}

.marquee-wrap:hover .marquee {
    @apply opacity-100
}

.Accordion-panel[hidden] {
    @apply hidden;
}

.accordion-trigger[aria-expanded="true"] .plus {
    @apply hidden;
}

.accordion-trigger[aria-expanded="true"] .minus {
    @apply inline-block;
}

.accordion-trigger[aria-expanded="false"] .minus {
    @apply hidden;
}

.accordion-trigger[aria-expanded="true"] .minus {
    @apply inline-block;
}

.menu-visible {
    @apply translate-x-0 visible
}

.horizontal-scroll::-webkit-scrollbar {
    display: none;
}

.checkbox-container {
    align-items: center;
    display: flex;
    cursor: pointer;
    font-size: 22px;
    margin-bottom: 12px;
    padding-left: 25px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    cursor: pointer;
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    border: 1px solid #CBCBCB;
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
    border-color: #000;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    background-color: #000;
    border-color: #000;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='white' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M5 13l4 4L19 7' /%3E%3C/svg%3E");
    content: "";
    display: none;
    height: 17px;
    left: -1px;
    position: absolute;
    top: -1px;
    width: 17px;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

.account-active,
.add-to-cart-active,
.cookies-active,
.popup-newsletter-active,
.filter-active,
.modal-active,
.panel-active {
    @apply visible opacity-100 pointer-events-auto max-h-[148]
}

.account-active,
.add-to-cart-active,
.cookies-active,
.filter-active,
.modal-active,
.popup-newsletter-active {
    @apply max-h-max
}

.overlay-active,
.search-active {
    @apply overflow-hidden after:content-[''] after:w-full after:h-full after:absolute after:top-0 after:left-0 z-10 after:bg-[#000]/50
}

.atc-overlay-active {
    @apply overflow-hidden after:content-[''] after:w-screen after:h-screen after:fixed after:top-0 after:left-0 after:z-30 after:bg-[#000]/50
}

.search-active [role="banner"] {
    @apply bg-[#fff]
}

[id="account-modal"] legend {
    @apply hidden;
}

.input ~ .tab { display: none }

.input:checked + label {
    @apply bg-eco-green text-[#fff] py-1 px-3 rounded-3xl
}

#tab1:checked ~ .tab.tab-item-1,
#tab2:checked ~ .tab.tab-item-2 {
    @apply block;
}

.grid-active {
    @apply text-[#000]
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

a.ticker::after {
    display: none !important
}

.slide {
    height: 360px;
}

.flickity-page-dots {
    bottom: 12px !important;
    right: 12px !important;
    width: auto !important;
}
/* white circles */
.flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: transparent;
    border: 2px solid white;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
    border-color: #F5F5F5;
    background: #6C6C6C;
}

/* position dots up a bit */
.flickity-page-dots {
    bottom: -22px;
}
/* dots are lines */
.flickity-page-dots .dot {
    height: 4px;
    width: 40px;
    margin: 0;
    border-radius: 0;
}

.page-inverted .button {
    @apply border-[#fff] hover:opacity-50 focus:opacity-50 transition-all !important
}

[data-close-modal] {
    position: absolute !important
}
