@tailwind base;
@tailwind components;
@tailwind utilities;

a:not(.logo):not(.button):not(.sr-only):not(.thumbnail):not(.play-video):not(.filter-item):not(.pagination__item) {
    @apply relative after:content-[''] after:absolute after:w-0 after:left-0 after:border-b after:border-solid after:border-[rgb(0,0,0)] after:block hover:after:w-full focus:after:w-full focus:outline-0 after:transition-all after:ease-in-out after:duration-300
}

.page-inverted {
    @apply bg-[#000] text-[#fff]
}

.is-sticky {
    @apply bg-[#fff]/50 backdrop-blur
}

.view-all {
    position: absolute !important
}

.page-inverted a:not(.logo):not(.button):not(.sr-only):not(.thumbnail):not(.play-video):not(.filter-item) {
    @apply relative after:content-[''] after:absolute after:w-0 after:left-0 after:border-b after:border-solid after:border-[#fff] after:block hover:after:w-full focus:after:w-full focus:outline-0 after:transition-all after:ease-in-out after:duration-300
}

.page-inverted .is-sticky  {
    @apply bg-[#000]/50 backdrop-blur
}

.page-inverted .filter-dropdown {
    @apply bg-[#000]/50 !important
}

.page-inverted .filter-dropdown .filter-item {
    @apply text-[#fff] !important
}

.page-inverted .logo path {
    @apply fill-[#fff]
}

.page-inverted .input {
    @apply border-[#fff] bg-[#000]
}

.modal-active.page-inverted a {
    color: #fff;
}

.marquee-wrap:hover .marquee,
.marquee-wrap:hover .marquee2 {
    @apply opacity-100
}

/*.marquee-wrap .marquee .inner p {*/
/*    margin: 0 2rem !important;*/
/*}*/

.Accordion-panel[hidden] {
    @apply hidden;
}

.accordion-trigger[aria-expanded="true"] .plus {
    @apply hidden;
}

.accordion-trigger[aria-expanded="true"] .minus {
    @apply inline-block;
}

.accordion-trigger[aria-expanded="false"] .minus {
    @apply hidden;
}

.accordion-trigger[aria-expanded="true"] .minus {
    @apply inline-block;
}

.menu-visible {
    @apply translate-x-0 visible
}

.horizontal-scroll::-webkit-scrollbar {
    display: none;
}

.checkbox-container {
    align-items: center;
    display: flex;
    cursor: pointer;
    font-size: 22px;
    margin-bottom: 12px;
    padding-left: 25px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    cursor: pointer;
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    border: 1px solid #CBCBCB;
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
    border-color: #000;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    background-color: #000;
    border-color: #000;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='white' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M5 13l4 4L19 7' /%3E%3C/svg%3E");
    content: "";
    display: none;
    height: 17px;
    left: -1px;
    position: absolute;
    top: -1px;
    width: 17px;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

.visually-hidden {
    position: absolute !important;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    word-wrap: normal !important;
}

.account-active,
.add-to-cart-active,
.cookies-active,
.popup-newsletter-active,
.filter-active,
.modal-active,
.panel-active {
    @apply visible opacity-100 pointer-events-auto max-h-[148px];
    display: block;
}

.account-active,
.add-to-cart-active,
.cookies-active,
.filter-active,
.modal-active,
.popup-newsletter-active {
    @apply max-h-max
}

.overlay-active,
.search-active {
    @apply overflow-hidden after:content-[''] after:w-full after:h-full after:fixed after:top-0 after:left-0 z-10 after:bg-[#000]/50
}

.atc-overlay-active {
    @apply overflow-hidden after:content-[''] after:w-screen after:h-screen after:fixed after:top-0 after:left-0 after:z-30 after:bg-[#000]/50
}

.search-active [role="banner"] {
    @apply bg-[#fff]
}

.page-inverted.search-active [role="banner"] {
    @apply bg-[#000];
    color: white;
}

[id="account-modal"] legend {
    @apply hidden;
}

.input ~ .tab { display: none }

.input:checked + label {
    @apply bg-eco-green text-[#fff] py-1 px-3 rounded-3xl
}

#tab1:checked ~ .tab.tab-item-1,
#tab2:checked ~ .tab.tab-item-2 {
    @apply block;
}

#main-tab1:checked ~ .tab.main-tab-item-1,
#main-tab2:checked ~ .tab.main-tab-item-2 {
    @apply block;
}

.grid-active {
    @apply text-[#000]
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

a.ticker::after {
    display: none !important
}

.order p,
.order time {
    @apply text-xs md:text-sm !important;
}

.customer th {
    padding: 0 1rem !important;
    @apply uppercase text-xs md:text-sm font-semibold mb-5 md:mb-10 !important;
}

.customer th:first-of-type, .customer td:first-of-type {
    padding-left: 0.5rem !important;
}

.order thead th:nth-last-child(-n + 3), .order td:nth-last-child(-n + 3) {
    padding-right: 0.5rem !important;
}

.order-details {
    border: 1px solid black !important;
}

.order-details thead tr th {
    border: 1px solid black !important;
}

.order-details tbody tr td {
    border: 1px solid black !important;
    padding-left: 0.5rem;
    border-top: 0 !important;
}

.order-details tfoot tr {
    border-bottom: 1px solid black !important;
}

.customer tbody td a,
.customer tbody td {
    @apply py-4 text-xs md:text-sm !important;
    vertical-align: unset !important;
    line-height: unset !important;
}

.customer tbody td a {
    padding: 0 !important;
}

.customer tfoot tr:first-of-type td {
    @apply text-xs md:text-sm !important;
}

.order tfoot tr:last-of-type td, .order tfoot tr:last-of-type th {
    @apply text-xs md:text-sm font-bold uppercase !important;
    padding-bottom: 1.5rem !important;
}

.slide {
    height: 360px;
}

.slide:not(:last-child) {
    margin-right: 10px;
}

#product-carousel:focus-visible {
    outline: none !important;
}

.flickity-page-dots {
    bottom: 12px !important;
    right: 12px !important;
    width: auto !important;
  	display: flex;
  	flex-direction: row;
  	justify-content: center;
}
/* white circles */
.flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: transparent;
    border: 2px solid white;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
    border-color: #F5F5F5;
    background: #6C6C6C;
}

/* position dots up a bit */
.flickity-page-dots {
    bottom: -22px;
}
/* dots are lines */
.flickity-page-dots .dot {
    height: 10px;
    width: 40px;
    margin: 0;
    border-radius: 0;
}

.page-inverted .button {
    @apply border-[#fff] hover:opacity-50 focus:opacity-50 transition-all !important
}

[data-close-modal] {
    position: absolute !important
}


.cart-item__price-wrapper .price {
    @apply text-xs md:text-sm !important;
}

.smooth-transition {
    transition: all 300ms ease-in-out;
}

.border-red {
    border-color: red;
}

#cart-notification-wrapper.active {
    top: 0;
    display: block;
    position: fixed !important;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
}

.cart-notification {
    @apply fixed p-2 z-40 rounded-tr-lg rounded-bl-lg right-2 md:right-4 bottom-2 md:bottom-4 w-full max-w-[300px] md:max-w-[385px] bg-[#fff] !important;
}

.loading-overlay__spinner.hidden {
    display: none;
}

.loading-overlay__spinner {
    display: inline-flex;
    width: 20px;
    margin-left: 10px;
    height: 20px;
    border-radius: 10px;
    border: 3px solid transparent;
    border-bottom: 3px solid #fff;
    transform: translateZ(10px);
    -webkit-animation: load 1.1s infinite linear;
    animation: load 1.1s infinite linear;
}

@-webkit-keyframes load {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@keyframes load {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

.cart-notification-product {
    @apply flex justify-between items-center !important;
}

.cart-notification-product {
    padding: 0 !important;
}

.view-cart-button:hover::after {
    content: none !important;
}

.predictive-search {
    background-color: white !important;
    border: none !important;
    @apply rounded-md shadow-md !important;
}

.predictive-search .icon.icon-arrow {
    @apply h-6 w-6 !important;
}

a.predictive-search__item:after {
    content: unset !important;
}

.predictive-search__list-item[aria-selected="true"] .predictive-search__item-heading,
.predictive-search__list-item:hover .predictive-search__item-heading {
    text-decoration: none !important;
    @apply relative after:content-[''] after:absolute after:w-0 after:left-0 after:border-b after:border-solid after:border-[#000] after:block hover:after:w-full focus:after:w-full focus:outline-0 after:transition-all after:ease-in-out after:duration-300
}

.template-search__search {
    @apply w-full m-0 max-w-[unset] !important;
}

.predictive-search .spinner {
    display: inline-flex;
    width: 20px;
    margin-left: 10px;
    height: 20px;
    border-radius: 10px;
    border: 3px solid transparent;
    border-bottom: 3px solid #000;
    transform: translateZ(10px);
    -webkit-animation: load 1.1s infinite linear;
    animation: load 1.1s infinite linear;
}

.article p {
    padding-bottom: 1rem;
}

.article .article-subtitle p {
    padding-bottom: 0;
}

.article .quote-paragraph p {
    @apply text-xs md:text-sm;
}

.article .quote-paragraph p strong {
    @apply text-base;
}

.article .paragraph-centered p {
    @apply text-xs md:text-sm;
}

.article .paragraph-centered p strong {
    @apply font-medium uppercase;
}

.article .paragraph-centered p:last-child {
    padding-bottom: 0 !important;
}


.product-info iframe {
	width: 100% !important;
  	margin-top: 2rem;
}

/*.pagination__item::after {*/
/*    content: unset !important;*/
/*}*/

#grid-toggle.md\:grid-cols-4 article h3 {
    @apply text-xl !important;
}

#grid-toggle.md\:grid-cols-4 article img {
    max-height: 250px;
}

@media (max-width: 600px) {
    #grid-toggle.md\:grid-cols-4 article img {
        max-height: 180px;
    }
}

#shopify-section-test-header {
    align-self: flex-start;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 30;
    background-color: #fff;
}

.page-inverted #shopify-section-test-header {
    background-color: #000;
    color: white;
}

.menu-overlay {
    display: none;
}

.overlay-active .menu-overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 32;
    background-color: rgb(0, 0, 0, 0.5);
}

.customer .form__message {
    @apply flex gap-2 text-sm;
}

div.errors,
small#RecoverEmail-email-error {
    @apply text-sm text-[#ff0000];
}

/* Testing font features */
body {
  font-variant-numeric: lining-nums;
  font-feature-settings: 'pnum' on, 'lnum' on, 'ordn' on, 'ss09' on, 'ss02' on, 'ss05' on;

}

/* Enviromentally friendly image sizing */
@media (max-width: 768px) {
    .enviro-size img {
        width: 225px;
        height: 60px;
    }
}
