<article data-cart-item class="flex items-center justify-between py-2 last:border-b border-t border-silver">
    <div class="w-[65%] flex items-center justify-start">
        <img class="rounded" src="https://picsum.photos/288/224" width="72" height="56" alt="" />
        <p class="flex justify-between uppercase text-xs ml-4 w-2/4">
            <span>Sneaker Cleaner</span>
            <span>4.2 FL OZ</span>
        </p>
    </div>
    <div class="w-[20%] flex items-center">
        <include src="./src/components/counter-input.html"></include>
        <a class="uppercase text-xs ml-auto" role="button" href="">Remove</a>
    </div>
    <div class="w-[15%] text-right text-sm">$24.99</div>
</article>
