<section class="xl:container xl:mx-auto mb-36">
    <h2 class="uppercase text-sm mb-5">[ Collaborations <sup>03</sup> ]</h2>
    <div class="grid md:grid-cols-12 gap-4">
        <article class="md:col-span-6">
            <figure class="relative overflow-hidden marquee-wrap">
                <a href="">
                    <img class="rounded-lg" alt="SneakerLab Product 3" src="https://picsum.photos/760/700" width="760" height="700"
                    loading="lazy" />
                </a>
                
                <div class="marquee absolute top-[50%] opacity-0 transition-opacity pointer-events-none">
                    <div class="inner relative w-full flex">
                        <p class="text-eco-green uppercase whitespace-nowrap text-7xl">View [Reebok]</p>
                         <p class="text-eco-green uppercase whitespace-nowrap text-7xl">View [Reebok]</p>
                    </div>
                </div>
            </figure>
            <h3 class="flex-1 w-full uppercase text-sm mt-2">[ Reebok ]</h3>
        </article>
        <article class="md:col-span-6 relative">
            <div class="flex flex-wrap justify-between">
                <figure class="basis-[49%] md:col-span-3 relative overflow-hidden marquee-wrap">
                    <a href="">
                    <img class="rounded-lg" alt="SneakerLab Product 3" src="https://picsum.photos/400/367" width="370" height="340"
                        loading="lazy" />
                    </a>
                        <div class="marquee absolute top-[45%] opacity-0 transition-opacity pointer-events-none">
                            <div class="inner relative w-full flex">
                                <p class="text-eco-green uppercase whitespace-nowrap text-7xl">View [New Balance]</p>
                            </div>
                        </div>
                </figure>
                <figure class="basis-[49%] md:col-span-3 relative overflow-hidden marquee-wrap">
                    <a href="">
                    <img class="rounded-lg" alt="SneakerLab Product 3" src="https://picsum.photos/400/367" width="370" height="340"
                        loading="lazy" />
                    </a>
                        <div class="marquee absolute top-[45%] opacity-0 transition-opacity pointer-events-none">
                            <div class="inner relative w-full flex">
                                <p class="text-eco-green uppercase whitespace-nowrap text-7xl">View [New Balance]</p>
                            </div>
                        </div>
                </figure>
                <h3 class="flex-1 w-full uppercase text-sm mt-2">[ New Balance ]</h3>
            </div>
            <h4 class="hidden md:block text-xl md:text-lg xl:text-3xl lg:absolute lg:bottom-[24%] font-medium">See our latest creative and limited edition brand collaborations including, <a href="/new-balance">New Balance</a>, <a href="/fila">Fila</a>, <a href="/eytys">Eytys</a>, <a href="/reebok">Reebok</a> and <a href="/arigato">Arigato</a>.</h4>
            <a class="uppercase block mt-16 lg:mt-0 md:absolute md:bottom-[20px] lg:bottom-[28px] text-xl lg:text-2xl xl:text-3xl" href="/collaborations">View all</a>
        </article>
    </div>
</section>
