<footer aria-label="Site Footer" role="contentinfo">
    <div class=" border-silver md:border-t pt-20 md:pt-36 pb-20 grid grid-cols-12 gap-4 xl:container xl:mx-auto">
        <include src="src/components/newsletter.html"></include>
        <nav class="lg:col-span-3 col-span-6">
            <ul>
                <li class="text-sm uppercase mb-2">
                    <a href="/">Home</a>
                </li>
                <li class="text-sm uppercase mb-2">
                    <a href="/shop">Shop</a>
                </li>
                <li class="text-sm uppercase mb-2">
                    <a href="/about-us">About Us</a>
                </li>
                <li class="text-sm uppercase mb-2">
                    <a href="/how-to">How To</a>
                </li>
                <li class="text-sm uppercase mb-2">
                    <a href="/collaborations">Collaborations</a>
                </li>
                <li class="text-sm uppercase mb-2">
                    <a href="/stories">Stories</a>
                </li>
                <li class="text-sm uppercase">
                    <a href="/locations">Locations</a>
                </li>
            </ul>
        </nav>
        <nav class="lg:col-span-3 col-span-6">
            <ul>
                <li class="text-sm uppercase mb-2">
                    <a href="/contact-us">Contact Us</a>
                </li>
                <li class="text-sm uppercase mb-2">
                    <a href="/my-account">My Account</a>
                </li>
                <li class="text-sm uppercase mb-2">
                    <a href="/faq">FAQ</a>
                </li>
                <li class="text-sm uppercase mb-2">
                    <a href="/become-a-stockist">Become a Stockist</a>
                </li>
                <li class="text-sm uppercase mb-2">
                    <a href="/refund-policy">Refund Policy</a>
                </li>
                <li class="text-sm uppercase mb-2">
                    <a href="/terms-of-service">Terms of Service</a>
                </li>
                <li class="text-sm uppercase">
                    <a href="/privacy-policy">Privacy Policy</a>
                </li>
            </ul>
        </nav>
    </div>
</footer>
<include src="src/components/colophon.html"></include>
