<nav id="mobile-navigation" aria-hidden="true" class="fixed h-full z-10 top-12 px-4 pt-8 pb-5 left-0 overflow-x-hidden transition-all w-full backdrop-blur bg-[#fff]/50 transform-gpu -translate-x-full lg:hidden">
    <div class="relative h-full">
        <ul>
            <li><a class="text-3xl sm:text-4xl uppercase" href="/shop">Shop</a></li>
            <li><a class="text-3xl sm:text-4xl uppercase" href="/how-to">How To</a></li>
            <li><a class="text-3xl sm:text-4xl uppercase" href="/collaborations">Collaborations</a></li>
            <li><a class="text-3xl sm:text-4xl uppercase" href="/stories">Stories</a></li>
            <li><a class="text-3xl sm:text-4xl uppercase" href="/account">Account</a></li>
        </ul>
        <ul class="flex absolute bottom-12">
            <li class="uppercase text-xs mr-1">
                <a href="https://www.facebook.com/SneakerLab.StayFresh" rel="noopener noreferrer">
                    <span class="sr-only">Follow SneakerLab on</span>
                    Facebook,
                </a>
            </li>
            <li class="uppercase text-xs mr-1">
                <a href="https://www.instagram.com/sneakerlab/" rel="noopener noreferrer"><span class="sr-only">Follow
                        SneakerLab on</span>Instagram,</a>
            </li>
            <li class="uppercase text-xs mr-1">
                <a href="https://twitter.com/Sneaker_LAB" rel="noopener noreferrer">
                    <span class="sr-only">Follow SneakerLab on</span>
                    Twitter,
                </a>
            </li>
            <li class="uppercase text-xs">
                <a href="https://www.youtube.com/channel/UCGfUAzXpLw7cjdtvKCB0xfA" rel="noopener noreferrer">
                    <span class="sr-only">Follow SneakerLab on</span>
                    Youtube
                </a>
            </li>
        </ul>
    </div>
</nav>
