<form aria-label="Newsletter Sign Up" role="form" method="" action="" class="lg:col-span-6 col-span-12 mb-20 xl:mb-0 max-w-[344]">
    <h4 class="uppercase text-xl xl:text-3xl xl:max-w-[336] mb-8 xl:mb-16 leading-none">Subscribe to our newsletter to keep up to date with the latest.</h4>
    <fieldset>
        <legend class="sr-only">SneakerLab Newsletter sign up</legend>
        <label class="block relative xl:max-w-[344]" for="subscribe">
            <span class="sr-only">Enter your email address</span>
            <input aria-describedby="help" class="input focus:outline-0 text-sm border-b border-black w-full py-2 placeholder:text-gray placeholder:uppercase"
                name="subscribe" id="subscribe" placeholder="Email Address" autocomplete="off" />
            <p class="sr-only" id="help">Enter your email address in order to sign up for the SneakerLab newsletter.</p>
            <button aria-label="Submit your email address" class="absolute right-0 top-2" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewbox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd"
                        d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                        clip-rule="evenodd" />
                </svg>
            </button>
        </label>
    </fieldset>
   
</form>
