<article>
    <figure class="bg-light-gray">
        <a href="">
            <img class="rounded-lg" alt="SneakerLab Product 3" src="https://picsum.photos/1520/1134" width="760"
                height="567" loading="lazy" />
        </a>
    </figure>
    <h3 class="uppercase text-xl md:text-2xl lg:text-3xl tracking-tighter mt-2">Sneaker Wipes</h3>
    <div class="flex items-start justify-between">
        <p class="uppercase text-sm max-w-[220] lg:max-w-none">12 Pack Box</p>
        <p class="uppercase text-sm">$9.99</p>
    </div>
</article>
